:root {
  --dark-grey: #404952;
  --text-grey: #848b92;
  --mid-grey: #636a70;
  --light-grey: #f0f5f7;
  --orange: #edb53b;
}

/* General styles */
small {
  font-size: 0.85rem;
}

h2 {
  font-size: 32px;
} 

.button {
  transition: background 0.3s, color 0.3s, border 0.3s;
}

.button:hover {
  border-color: var(--orange);
  color: var(--orange);
  background: none;
}

.homeMainContainer a:not(.button),
.docMainWrapper .mainContainer a:not(.button) {
  color: var(--orange);
}

.paddingBottom {
  padding-bottom: 80px;
}

.paddingTop {
  padding-top: 20px;
}

.text-center,
.text-center .wrapper {
  text-align: center;
}

.highlightBackground {
  background: white;
  color: black;
}

.darkBackground {
  background: var(--dark-grey);
  color: #fff;
}

.darkBackground a:not(.button) {
  color: var(--orange);
}

.lightBackground {
  background: var(--light-grey);
}

/* Header */

.fixedHeaderContainer {
  padding: 20px 0;
}

.fixedHeaderContainer header .headerTitleWithLogo {
  font-size: 40px;
}

/* Homepage splash */
.project-logo {
  display: none;
}

.homeContainer .projectTitle {
  color: #fff;
  font-weight: lighter;
  margin-top: 36px;
  margin-right: 24px;
}

.homeContainer .projectTitle span {
  font-weight: 500;
}

.homeContainer .button {
  color: #fff;
  padding: 10px 24px;
  margin-right: 20px;
  border-color: var(--mid-grey);
  border-radius: 0;
  text-transform: none;
}

.homeContainer .splashButton {
  padding: 18px 60px;
  margin-bottom: 40px;
  background-color: var(--orange);
  border-color: var(--orange);
  font-size: 18px;
}

.orangeButton {
  color: white;
  padding: 10px 32px;
  margin-top: 20px;
  margin-right: 20px;
  background-color: var(--orange);
  border-color: var(--orange);
  border-radius: 0;
  text-transform: none;
}

.homeContainer .button:hover {
  border-color: var(--orange);
  color: var(--orange);
}

.homeContainer .badge {
  margin: 0 2px;
}

.homeSplashFade {
  padding-bottom: 40px;
}

.buttonSection {
  margin-top: 30px;
  text-align: left;
}

.promoSection .promoRow .pluginRowBlock {
  justify-content: flex-start;
}

.block {
  display: flex;
  align-items: center;
}

.block .blockElement {
  padding: 0 30px;
}

.block p {
  color: var(--text-grey);
  font-size: 18px;
}

/* Flex the key features on the landing page so that the text aligns. */
.keyFeatures .blockElement {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.keyFeatures .blockImage {
  max-width: 170px;
}

/* Pages */
.homeMainContainer a:hover,
.docMainWrapper .mainContainer a:hover {
  text-decoration: underline;
}

.contributors h3 {
  margin-top: 0;
}

/* Add a little padding to users & contributors headers */
.showcaseSection .prose {
  padding-bottom: 2rem;
}

/* Blog posts page styles */
.article {
  display: flex;
  padding-bottom: 20px;
}

.contributors a,
.article a {
  color: #171738;
}

.contributors a:hover,
.article a:hover {
  color: var(--orange);
}

.article h3, .article p {
  margin-bottom: 0.5rem;
}

.article-image-container {
  flex: 20%;
  margin-top: auto;
  margin-bottom: auto;
  padding-right: 20px;
}

.article-image {
  order: 1;
  max-height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.article-copy {
  flex: 80%;
  order: 2;
}

.article-date {
  color: rgba(23, 23, 56, 0.5);
}

.blog-mailto h3 {
  display: inline-block;
  margin-right: 20px;
}

/* We don't want videos to take up the whole page */
.videos {
  max-width: 600px;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.twitter-share-button {
  margin-top: 3px;
}

@media only screen and (max-device-width: 736px) {
  .article-image-container {
    display: none;
  }

  .keyFeatures .blockElement {
    margin-top: 40px;
  }
}

@media only screen and (min-width: 1024px) {
  .homeContainer .homeWrapper .inner {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 2em 0;
  }

  .homeContainer .homeWrapper .project-logo {
    display: block;
    width: 800px;
  }

  .homeContainer .projectTitle {
    text-align: left;
  }
}

@media only screen and (max-width: 1023px) {
  .gridBlock .fourByGridBlock {
    flex: 1 0 40%;
  }

  .keyFeatures h2 {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .keyFeatures p {
    margin-bottom: 0;
  }

  .keyFeatures .blockElement {
    margin-bottom: 40px;
  }
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
